@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: rgba(5, 30, 2, 0.882);
}

.biome {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: center;
  /* background-color:blueviolet; */
  align-content: start;
}

.biome-swampy {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: center;
  /* background-color:blueviolet; */
  align-content: start;

  background-image: url(abbott_anderson_peacock.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.biome-meadow {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: center;
  /* background-color:blueviolet; */
  align-content: start;

  background-image: url(artist_point.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.macrobiome {
  /* background-color: aliceblue; */
  flex: 1;
}

.macrobiome:nth-of-type(2) {
  flex: 2;
  align-self: stretch;
}

.microbiome {
  height: 300px;
  color: aliceblue;
}

/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */


.h2-meadow {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}